/**Katinka**/
/**I global lægger vi ind alt der er fælles for at sikre lighed og en rød tråd i designet!**/
/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**Google Fonts variables (bæredygtigt), ligger lokalt i fonts mappe for at sikre hurtig load tid
OBS Muligt vi ikke behøver alle!?**/
@font-face {
  /*OBS MÆRKELIG FONT?? Finde ny*/
  font-family: "georama_extracondensed_thin";
  src: url("fonts/webfontkit/georama-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("fonts/webfontkit/georama-variablefont_wdthwght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*OBS MÆRKELIG FONT?? Finde ny*/
  font-family: "georama_italic";
  src: url("fonts/webfontkit/georama-italic-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("fonts/webfontkit/georama-italic-variablefont_wdthwght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_extrabold";
  src: url("fonts/webfontkit/neuton-extrabold-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_bold";
  src: url("fonts/webfontkit/neuton-bold-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_regular";
  src: url("fonts/webfontkit/neuton-regular-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_light";
  src: url("fonts/webfontkit/neuton-light-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_extralight";
  src: url("fonts/webfontkit/neuton-extralight-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neuton_italic";
  src: url("fonts/webfontkit/neuton-italic-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/neuton-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**Variables**/
html {
  /**Fonts**/
  --font1: "neuton_regular";
  /* --font2: "georama_extracondensed_thin"; */
  /*--fontcitat: "georama_italic"; Bruges til citater*/
  --font2: sans-serif;
  --fontcitat: sans-serif; /*Indsæt italic font. Bruges til citater*/

  /**Colors**/
  --primary: #fcf7f1; /**Baggrund + font på mørk baggrund**/
  --secondary: #5e7153; /**Fonts + baggrund på cards**/
  --tertiary: #fd6f2f; /**CTA**/
  --quaternary: #ffd2bd; /**CTA på mørk baggrund**/
  --quinary: #a9b489; /**Pop-up buble**/
  /**Font size**/
  --fontsize1: 10pt;
  --fontsize2: 12pt;
  --fontsize3: 14pt;
  --fontsize4: 18pt;
  --fontsize5: 24pt;
  --fontsize6: 36pt;
  --fontsize7: 48pt;
  --fontsize8: 54pt;
}
/**Fælles stylede tags**/
body {
  background-color: var(--primary);
  text-align: center;
}
h1,
h2,
h3 {
  font-family: var(--font1);
  color: var(--secondary);
}
p,
a {
  font-family: var(--font2);
  color: var(--secondary);
}
/*Fjerner linje under link*/
a {
  text-decoration: none;
}
/**Font sizes mobile**/
h1 {
  font-size: var(--fontsize5);
}
h2 {
  font-size: var(--fontsize4);
}
h3 {
  font-size: var(--fontsize3);
}
a,
p {
  font-size: var(--fontsize2);
  max-width: 65ch;
  line-height: 14pt;
}

footer p {
  font-size: var(--fontsize1);
  line-height: 12pt;
}
/**Margin & padding mobile. OBS header og footer styles i egen komponent**/
main {
  margin: 3rem;
}
section {
  margin: 2rem;
  padding: 2rem;
}
.kundeanmeldelser {
  padding: 2rem;
}
/**Fonts desktop**/
@media (min-width: 800px) {
  body {
    text-align: left;
  }
  h1 {
    font-size: var(--fontsize6);
  }
  h2 {
    font-size: var(--fontsize5);
  }
  h3 {
    font-size: var(--fontsize4);
  }
  h1,
  h2 {
    text-align: center;
  }
  a,
  p {
    font-size: var(--fontsize3);
    line-height: 16pt;
  }
  p {
    text-align: left;
  }
  footer p {
    font-size: var(--fontsize2);
    line-height: 14pt;
  }

  /**Margin & padding desktop. OBS header og footer styles i egen komponent**/
  main {
    margin: 5rem;
  }
  section,
  .kundeanmeldelser {
    margin: 4rem;
    padding: 4rem;
  }
}
