---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../layouts/Header.astro";
import Formular from "../components/Formular.astro";
import Footer from "../layouts/Footer.astro";
---

<!--Skal behandlingsoversigten være statisk eller dynamisk? -->
<MainLayout>
  <main>
    <h1>BEHANDLINGER OG PRISER</h1>
    <h2>CUT & STYLING</h2>
    <section class="grid_1-1">
      <div>
        <h3>CLASSIC CUT</h3>
        <p>150,-</p>
        <p>
          Skræddersyet klipning som passer dig og din livsstil. Der vil indgå
          klippeteknikker både i vådt og tørt hår. Hårvask og en smuk styling og
          inkluderet.
        </p>
      </div>
      <div>
        <h3>MAINTENANCE CUT</h3>
        <p>485,-</p>
        <p>
          Vedligeholdende klip i tørt hår der er vasket hjemmefra den pågældende
          dag. Perfekt til dig som ikke ønsker den store forandring, men blot
          ønsker at komme af med de tørre spidser, og få frisket en eksisterende
          frisure op. Behandlingen er uden vask.
        </p>
      </div>
      <img src="../svg/sakse.svg" alt="sakse" />
    </section>

    <h2>COLOR BEHANDLINGER</h2>
    <section class="grid_1-1">
      <div>
        <h3>CLASSIC SOLID COLOR</h3>
        <p>
          m/klip 1290,-<br />
          u/klip 810,-
        </p>
        <p>
          Behandlingen for dig der ønsker at gå mørkere end din naturlige
          hårfarve, eller dække 50-100% af dine grå hår. Farven påføres i en
          enkelt arbejdsgang, og giver et klassisk ensfarvet look fra bund til
          spids.
        </p>
        <h3>CLASSIC SOLID COLOR TOUCH UP</h3>
        <p>
          m/klip 995,-<br />
          u/klip 515,-
        </p>
        <p>
          Vedligeholdelse af Solid Color behandlingen. Farven påføres kun på den
          lysere eller grå udvoksning. Behandlingen er inkl. styling.
        </p>
      </div>
      <div>
        <h3>GLOSSY MANE</h3>
        <p>
          m/klip 810,-<br />
          u/klip 495,-
        </p>
        <p>
          Brug for en hurtig refresh? Behandlingen kan både bruges til at køle
          falmede lyse effekter ned i tonen, eller give din brunette farve et
          friskt pust. Behandlingen er inkl. styling.
        </p>
        <h3>REVERSE FACE FRAME</h3>
        <p>
          m/klip 855,-<br />
          u/klip 375,-
        </p>
        <p>
          Til dig der er generet af grå hår i fronten, men som endnu ikke har
          bredt sig til resten af håret. Der vælges en farve der minder så meget
          som muligt om din naturlige hårfarve, til at dække 50-100% af dine grå
          hår i front og skilning. Behandlingen er inkl. føn og gltaning med
          fladejern.
        </p>
      </div>
      <img src="../svg/sakse.svg" alt="sakse" />
    </section>

    <h2>BLONDING BEHANDLINGER</h2>
    <section class="grid_1-1">
      <div>
        <h3>CLASSIC BLONDE</h3>
        <p>
          m/klip 1795,-<br />
          u/klip 1595,-
        </p>
        <p>
          Et moderne take på “lyse striber”, til dig der godt kan lide at føle
          dig naturligt lys. Et mix af traditionelle striber, babylight og
          teasylight teknikker vil blive brugt, for at opnå et resultat med lyse
          effekter der når fra hovedbunden til spidserne. Behandlingen er inkl.
          glossy og styling.
        </p>
        <h3>BEACH BLONDE</h3>
        <p>
          m/klip 1895,-<br />
          u/klip 1695,-
        </p>
        <p>
          Til dig der elsker at føle dig ultra blond fra bund til spids.
          Babylight teknikken vil blive brugt fra nakken til siderne, henover
          skilningen og super tæt ind til ansigtet, for maksimal
          blondine-effekt. Behandlingen inkluderer en glossing, og en smuk
          styling.
        </p>
      </div>
      <div>
        <h3>DIMENTIONAL BLONDE</h3>
        <p>
          m/klip 1995,-<br />
          u/klip 1795,-
        </p>
        <p>
          For dig der ønsker et naturligt look med en lav vedligeholdelse, og
          høj holdbarhed. Foilyage, teasylight og babylight teknikker vil blive
          brugt, og evt. lowlights for at tilføje manglende dybde. Resultatet
          har en blød overgang fra bunden og gradvist lysere længder.
          Behandlingen er inkl. en colormelt og styling.
        </p>
        <h3>REVERSE BLONDE</h3>
        <p>
          m/klip 1595,-<br />
          u/klip 1395,-
        </p>
        <p>
          Til dig der er ovre dit blonde hår, og gerne vil have mere naturligt
          og dæmpet men stadig med spil og dybde. Der vil indgå et par
          eventuelle lyse effekter hvis det ønskes, men hovedsageligt lowlights
          for at give spil og dybde tilbage i håret. Behandlingen er inkl. gloss
          og styling.
        </p>
        <h3>MAINTENANCE BLONDE</h3>
        <p>
          m/klip 1495,-<br />
          u/klip 1295,-
        </p>
        <p>
          Vedligeholdende behandling af dine lyse effekter. Få repareret din
          udvoksning i skilningen og siderne fra din bleach blonde eller classic
          blonde behandling. Behandling er inkl. gloss og styling.
        </p>
      </div>
      <img src="../svg/sakse.svg" alt="sakse" />
    </section>

    <h2>BROWS & LASHES</h2>
    <section class="grid_1-1">
      <div>
        <h3>BROW TINT</h3>
        <p>150,-</p>
        <h3>LASH TINT</h3>
        <p>175,-</p>
      </div>
      <div>
        <h3>BROWS & LASH TINT</h3>
        <p>250,-</p>
        <h3>BROW WAX</h3>
        <p>100,-</p>
      </div>
    </section>
    <Formular />
  </main>
</MainLayout>
<style>
  /*MOBILE FIRST!*/
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 3px solid var(--secondary);
    border-radius: 30px;
  }
  img {
    height: 80px;
    width: 80px;
  }
  h3 {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
  p {
    padding-bottom: 1.2rem;
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    img {
      height: 120px;
      width: 120px;
      justify-self: center;
    }
    p {
      padding-bottom: 1.7rem;
    }
    div {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
</style>
