---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---
<!--Skal behandlingsoversigten være statisk eller dynamisk? -->
<MainLayout>
<Header/>
<main>
<h1>BEHANDLINGER OG PRISER</h1>
<!--Insert dynamisk CardSection -->
<section>
<h1>CUT & STYLING</h1>
</section>
<section>
<h1>COLOR BEHANDLINGER</h1>
</section>
<section>
<h1>BLONDING BEHANDLINGER</h1>
</section>
<section>
<h1>BROWS & LASHES</h1>
</section>
</main>
<Footer/>
</MainLayout>
<style>
    /*MOBILE FIRST!*/

</style>