---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Formular from "../components/Formular.astro";
import SoMeIcons from "../components/SoMeIcons.astro";
---

<!--OBS MOBILE FIRST!!! -->
<MainLayout>
  <main>
    <!--Insert HeroSection -->
    <h1>BEHANDLINGER OG PRISER</h1>
    <!--Insert CardSection -->
    <section>
      <h1>LÆS HVAD KUNDERNE SIGER</h1>
      <div class="kundeanmeldelser">
        <p class="citat">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          laudantium quisquam cupiditate itaque odio eum accusantium maiores a
          eligendi autem iusto id fugiat quae unde iste, aspernatur deserunt
          commodi hic?"
        </p>
        <!--Insert AnmeldelserSlideshow-->
      </div>
    </section>
    <section>
      <h1>GALLERI</h1>
      <!--Insert Gallery -->
    </section>
    <section>
      <h1>MØD GAIA</h1>
      <img src="" alt="portrætbillede" />
      <p>
        Tekst om Gaia og hendes vision. Lorem ipsum tekst LorLorem ipsum tekst
        Lorem ipsum tekstLorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst
        Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst
      </p>
    </section>
    <section id="lokation">
      <h1>HER FINDER DU SALONEN</h1>
      <div class="lokation">
        <a
          class="map_img"
          href="https://www.google.com/maps/place/Ramsherred+23D,+4700+N%C3%A6stved/@55.2308439,11.758616,17z/data=!3m1!4b1!4m6!3m5!1s0x4652be86f2da4dd3:0x90d213edea249959!8m2!3d55.2308439!4d11.7611909!16s%2Fg%2F11nnkpp50m?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
          ><img src="../img/maps.webp" alt="googlemaps" /></a
        >
        <div class="parkeringsinfo">
          <h2>Parkeringsinformation</h2>
          <p>
            Lorem ipsum tekst Lorem ipsum tekstLorem ipsum tekst Lorem ipsum
            tekst Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekstLorem
            ipsum tekst Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst
          </p>
        </div>
      </div>
    </section>
    <section>
      <h1>UNDERVISNING</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Leo massa faucibus morbi integer
        leo. Diam porttitor diam blandit tortor mauris et cursus. Semper nisi a
        vitae velit velit eleifend. Id fringilla eget venenatis ut duis egestas.
      </p>
      <a href="/undervisning"
        ><Button class="button_green" buttontext="Læs mere" /></a
      >
      <img src="" alt="undervisningsbillede" />
    </section>
    <section>
      <h1>FØLG MIG HER</h1>
      <!--Insert SoMe galleri -->
      <SoMeIcons />
    </section>
    <section>
      <h1>PRODUKTER</h1>
      <p>
        Jeg går meget op i at bruge produkter af høj kvalitet, men som også
        tager hensyn til miljøet. I salonen har du mulighed til at købe
        produkterne med hjem. Se mit udvalg af produkter her!
      </p>
      <a href="/products/"
        ><Button class="button_green" buttontext="Se alle produkter" /></a
      >
    </section>
    <section id="bestil_tid">
      <Formular />
    </section>
  </main>
</MainLayout>

<style>
  #lokation,
  .kundeanmeldelser {
    border: 3px solid var(--secondary);
    border-radius: 30px;
  }
  .citat {
    font-family: var(--fontcitat);
  }
  img {
    width: 100%;
  }
  /*Styling desktop */
  @media (min-width: 800px) {
    .lokation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .parkeringsinfo {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .map_img {
      grid-column: 2/3;
    }
  }
</style>
