---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Formular from "../components/Formular.astro";
import SoMeIcons from "../components/SoMeIcons.astro";
import Card_behandling from "../components/Card_behandling.astro";
import PopUp from "../components/PopUp.astro";
---

<!--OBS MOBILE FIRST!!! -->
<MainLayout>
  <main>
    <div class="hero_section">
      <!-- OBS KODE HVIS VI ENDER MED LOTTIEFILE <div class="lottie">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/a3e2418c-0beb-460a-aa87-2f549c3663bf/8F7Bt97hQQ.lottie" background="transparent" speed="1" style="width: 1800px; height: 600px;" loop autoplay>
    </dotlottie-player>
  </div> -->
      <div class="hero_img">
        <img src="../img/herosection.webp" alt="hero" />
        <!--OBS HUSK AT REDIGERE IMG FORMAT -->
      </div>
      <div class="title_book">
        <h1>Hair Creations by Gaia</h1>
        <a href="#bestil_tid"
          ><Button class="button_orange" buttontext="Bestil tid" /></a
        >
      </div>
    </div>
    <h1>BEHANDLINGER OG PRISER</h1>
    <!--Insert CardSection -->
    <section>
      <div class="kundeanmeldelser">
        <h1>LÆS HVAD KUNDERNE SIGER</h1>
        <p class="citat">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          laudantium quisquam cupiditate itaque odio eum accusantium maiores a
          eligendi autem iusto id fugiat quae unde iste, aspernatur deserunt
          commodi hic?"
        </p>
        <!--Insert AnmeldelserSlideshow-->
      </div>
      <PopUp />
    </section>
    <section>
      <!-- <h1>GALLERI</h1>
      <div class="grid-1-1-1-1">
        <img class="img1" src="../img/galleri1.webp" alt="gaia" />
        <img class="img2" src="../img/galleri2.webp" alt="setup" />
        <img class="img3" src="../img/galleri3.webp" alt="hårvask" />
        <img class="img4" src="../img/galleri4.webp" alt="hår" />
        <img class="img5" src="../img/galleri5.webp" alt="hår" />
        <img class="img6" src="../img/galleri6.webp" alt="gaia" />
      </div> -->

      <h1>GALLERI</h1>
      <div class="gallery">
        <img
          id="img1"
          class="gallery-item"
          src="../img/galleri1.webp"
          alt="gaia"
        />
        <img
          id="img2"
          class="gallery-item"
          src="../img/galleri2.webp"
          alt="setup"
        />
        <img
          id="img3"
          class="gallery-item"
          src="../img/galleri3.webp"
          alt="hårvask"
        />
        <img
          id="img4"
          class="gallery-item"
          src="../img/galleri4.webp"
          alt="hår"
        />
        <img
          id="img5"
          class="gallery-item"
          src="../img/galleri5.webp"
          alt="hår"
        />
        <img
          id="img6"
          class="gallery-item"
          src="../img/galleri6.webp"
          alt="gaia"
        />
      </div>
    </section>
    <section id="moed_gaia">
      <h1>MØD GAIA</h1>
      <div class="moed_gaia">
      <img src="../img/portrait.webp" alt="portrætbillede" />
      <p>
        Tekst om Gaia og hendes vision. Lorem ipsum tekst LorLorem ipsum tekst
        Lorem ipsum tekstLorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst
        Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst Lorem ipsum tekst
      </p>
    </div>
    </section>
    <section id="lokation">
      <h1>HER FINDER DU SALONEN</h1>
      <div class="lokation">
        <a
          class="map_img"
          href="https://www.google.com/maps/place/Ramsherred+23D,+4700+N%C3%A6stved/@55.2308439,11.758616,17z/data=!3m1!4b1!4m6!3m5!1s0x4652be86f2da4dd3:0x90d213edea249959!8m2!3d55.2308439!4d11.7611909!16s%2Fg%2F11nnkpp50m?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
          ><img src="../img/maps.webp" alt="googlemaps" /></a
        >
        <div class="parkeringsinfo">
          <p>Ramsherred 23D, 4700 Næstved</p>
          <h3>Parkeringsinformation</h3>
          <p>
           Til dem af jer som kommer i bil, så er der ubegrænset parkering på parkeringspladsen nedenfor MENY og Hotel Kirstine. Det tager kun 4 minutter at gå til salonen herfra.
          </p>
          <p>Til dem af jer som kommer med tog, så tager det 7 minutter at gå fra Næstved station.</p>
        </div>
      </div>
    </section>
    <section id="undervisning">
      <h1>UNDERVISNING</h1>
      <div class="undervisning">
        <div class="right">
      <p>Er du uddannet frisør og vil lære at farve hår som en pro? Jeg tilbyder små, hyggelige farvekurser med plads til fordybelse og god stemning, hvor du både lærer nye teknikker og får plads til at fordybe dig i dit håndværk i en afslappet og uformel atmosfære. Jeg deler mine bedste tips og tricks – og sørger for, at du går hjem med både ny viden og inspiration.</p>
      <a href="/undervisning"
        ><Button class="button_green" buttontext="Læs mere" /></a
      >
    </div>
      <img src="../img/undervisning_forside.webp" alt="undervisningsbillede" />
    </div>
    </section>
    <section>
      <h1>FØLG MIG HER</h1>
      <!--Insert SoMe galleri -->
      <SoMeIcons />
    </section>
    <section class="produkter">
      <h1>PRODUKTER</h1>
      <p>Som frisør går jeg meget op i at bruge produkter af høj kvalitet, men som samtidig tager hensyn til dig og miljøet. I salonen har du mulighed til at købe produkterne med hjem. Se mit udvalg af økologiske produkter her!
      </p>
      <a href="/products/"
        ><Button class="button_green" buttontext="Se alle produkter" /></a
      >
    </section>
    <section id="bestil_tid">
      <Formular />
    </section>
    <section>
      <a href="#top" class="bottom-arrow">
        <img src="../svg/arrow-up.svg" alt="Pil Op" />
      </a>
    </section>
  </main>
</MainLayout>

<style>

  /* OBS KODE HVIS VI ENDER MED LOTTIEFILE .lottie {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 0;
  } */
  .hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10%;
  }
  .hero_img {
    animation: zoomIn 10s infinite alternate;
    width: 100%;
    overflow: hidden;
  }
  /*Zoom-in animation*/
  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  .title_book {
    position: absolute;
    z-index: 1;
  }
  .title_book h1 {
    color: var(--primary);
    font-size: 40pt;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

  #lokation, .kundeanmeldelser, #moed_gaia, #undervisning, .produkter, #bestil_tid {
border: 3px solid var(--secondary);
border-radius: 30px;
background-color: var(--primary);
  }
  .moed_gaia img, .undervisning img {
      max-width: 80%;
    }
  .lokation img {
    width: 100%;
  }
  
  .citat {
    font-family: var(--fontcitat);
  }

  /*galleri*/

  .gallery {
    display: flex;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  /* Styling af hvert billede */
  .gallery-item {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* Første billede vises som standard */
  .gallery-item:first-child {
    opacity: 1;
  }
  /* virker kun uden fade
  .gallery {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  width: 100%;
  height: auto;
  display: none;
}

.gallery-item:first-child {
  display: block;  
}/*

  /*Styling desktop */
  @media (min-width: 800px) {
    .title_book h1 {
      font-size: 64pt;
    }
    .moed_gaia{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
   
    .lokation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .parkeringsinfo {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .map_img {
      grid-column: 2/3;
    }
    /*galleri desk*/
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 1rem;
      width: 100%;
      height: auto;
    }

    .gallery-item {
      position: relative;
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
    }

    #img1 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    #img2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    #img3 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    #img4 {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }

    #img5 {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }

    #img6 {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }

    .undervisning {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .right{
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .bottom-arrow {
      display: grid;
      justify-content: center;
    }
    .bottom-arrow img {
      width: 70px;
      height: auto;
      transition: all 0.3s ease;
    }
  }
</style>

<script>
  /*galleri*/
  if (window.innerWidth < 800) {
    let currentImageIndex = 0;
    const images = document.querySelectorAll(".gallery-item");

    // Funktion til at vise næste billede
    function showNextImage() {
      // Fjern synligheden fra det nuværende billede
      images[currentImageIndex].style.opacity = 0;

      // Opdater index til næste billede, eller loop tilbage til det første billede
      currentImageIndex = (currentImageIndex + 1) % images.length;

      // Vis det næste billede med fade-effekt
      images[currentImageIndex].style.opacity = 1;
    }

    // Sæt interval for at ændre billede hver 6. sekund
    setInterval(showNextImage, 6000);

    // Initialiser galleriet ved at vise det første billede
    showNextImage();
  }
  /*
  virker kun uden fade
  let currentImageIndex = 0;
const images = document.querySelectorAll('.gallery-item');

// Function to show the next image
function showNextImage() {
  // Hide the current image
  images[currentImageIndex].style.display = 'none';

  // Update the index to the next image, or loop back to the first image
  currentImageIndex = (currentImageIndex + 1) % images.length;

  // Show the next image
  images[currentImageIndex].style.display = 'block';
}

// Set interval to change image every 6 seconds
setInterval(showNextImage, 6000);

// Initialize the gallery by showing the first image
showNextImage();
*/
</script>
