---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hair Creations by Gaia</title>
  </head>
  <body>
    <h1> H1 - Hair Creations by Gaia</h1>
    <h2>H2 - Header</h2>
    <p>P - Lorem ipsum tekst</p>
  </body>
</html>
