---
const { buttontext, filter } = Astro.props;
const { class: className } = Astro.props;
---

<!--Katinka --><!--HUSK MOBILE FIRST! -->
<div class="button_div">
  <button class={className} type="button" data-filter={filter}
    >{buttontext}
  </button>
</div>

<style>
  .button_div {
    display: flex;
    justify-content: center;
  }
  .button_green,
  .button_orange {
    min-width: 160px;
    height: 50px;
    font-size: 18px;
    font-family: var(--font2);
    flex-shrink: 0;
    padding: 1px 20px;
    border-radius: 50px;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: all 0.5s ease;
    white-space: nowrap;
  }
  /*Orange knap*/
  .button_orange {
    background-color: var(--tertiary);
    border: 3px solid #b05215;
    color: var(--primary);
  }
  .button_orange:hover {
    background-color: var(--primary);
    color: var(--tertiary);
    border: 3px solid #b05215;
  }
  /*Grøn knap*/
  .button_green {
    background-color: var(--primary);
    border: 3px solid var(--secondary);
    color: var(--secondary);
  }
  .button_green:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--secondary);
  }

  .active {
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--secondary);
  }

  @media (min-width: 800px) {
    .button_green,
    .button_orange {
      min-width: 160px;
      height: 50px;
      font-size: 20px;
      font-weight: bolder;
    }
  }
</style>
