---
const { buttontext } = Astro.props;
const { class: className } = Astro.props;
---

<!--Katinka --><!--HUSK MOBILE FIRST! -->
<div class="button_div">
  <button class={className} type="button">{buttontext}</button>
</div>

<style>
  .button_div {
    display: flex;
    justify-content: center;
  }
  .button_green,
  .button_orange {
<<<<<<< HEAD
    width: 160px;
=======
    min-width: 150px;
>>>>>>> 2868c32c71aa0266de5a1e9118dca2401575836e
    height: 50px;
    font-size: 14px;
    font-family: var(--font2);
    flex-shrink: 0;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
<<<<<<< HEAD
    transition: all 0.5s ease;
=======
>>>>>>> 2868c32c71aa0266de5a1e9118dca2401575836e
  }
  /*Orange knap*/
  .button_orange {
    background-color: var(--tertiary);
    border: 3px solid #b05215;
    color: var(--primary);
  }
  .button_orange:hover {
    background-color: var(--primary);
    color: var(--tertiary);
    border: 3px solid #b05215;
  }
  /*Grøn knap*/
  .button_green {
    background-color: var(--primary);
    border: 3px solid var(--secondary);
    color: var(--secondary);
  }
  .button_green:hover,
  .button_green:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--secondary);
  }

  @media (min-width: 800px) {
    .button_green,
    .button_orange {
<<<<<<< HEAD
      width: 200px;
=======
      min-width: 160px;
>>>>>>> 2868c32c71aa0266de5a1e9118dca2401575836e
      height: 50px;
      font-size: 16px;
    }
  }
</style>
