---
const { product } = Astro.props;
console.log("product", product);
---

<!-- Matilde -->
<div class="card">
  <img src={"/img/products/" + product.img} alt="Billede af produkt" />
  <div class="info">
    <p>{product.product_name}</p>
    <a href={"/products/" + product.slug}>Læs mere</a>
  </div>
</div>

<style>
  .card {
    width: 310px;
    height: 554px;
    flex-shrink: 0;
    border-radius: 30px;
  }

  .info {
    background-color: var(--secondary);
  }

  a {
    color: var(--quaternary);
  }

  p {
    color: var(--primary);
  }

  img {
    width: 100%;
  }
</style>
