---
const { imgSrc, title, altTekst } = Astro.props;
const { class: className } = Astro.props;
---

<!-- Matilde -->
<div class={className}>
  <img src={imgSrc} alt={altTekst} />
  <div>
    <p>{title}</p>
  </div>
</div>
