---
const {class: className} = Astro.props;
---
<!--Katinka -->
<!--HUSK MOBILE FIRST! -->
<div class={className} >
<a href="">
    <svg width="44" height="46" viewBox="0 0 44 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 27.3503L15.99 22.2909C17.264 20.6791 17.9 19.8721 18.666 19.8721C19.432 19.8721 20.07 20.6791 21.342 22.2909L22.658 23.9597C23.93 25.5716 24.566 26.3785 25.334 26.3785C26.1 26.3785 26.736 25.5716 28.01 23.9597L32 18.9004" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22 44.2493C33.046 44.2493 42 34.7918 42 23.1247C42 11.4575 33.046 2 22 2C10.954 2 2 11.4575 2 23.1247C2 26.0378 2.56 28.8135 3.568 31.3379C4.126 32.7322 4.404 33.4293 4.44 33.9574C4.474 34.4855 4.326 35.0643 4.032 36.2241L2 44.2493L9.598 42.1031C10.696 41.7925 11.244 41.6383 11.744 41.6721C12.244 41.7101 12.904 42.0038 14.224 42.5932C16.6853 43.6881 19.3293 44.2512 22 44.2493Z" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
</a>
<a href="https://www.tiktok.com/@gaiaemilie">
<svg width="42" height="44" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 22.0684C2 12.6088 2 7.87688 4.782 4.93844C7.564 2 12.042 2 21 2C29.956 2 34.436 2 37.218 4.93844C40 7.87688 40 12.6067 40 22.0684C40 31.5281 40 36.26 37.218 39.1984C34.436 42.1369 29.958 42.1369 21 42.1369C12.044 42.1369 7.564 42.1369 4.782 39.1984C2 36.26 2 31.5302 2 22.0684Z" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M18.072 19.9729C16.432 19.7278 12.692 20.1313 10.86 23.712C9.02799 27.2926 10.874 31.019 12.028 32.4343C13.166 33.7588 16.784 36.2663 20.622 33.818C21.574 33.2117 22.76 32.7575 24.104 28.015L23.948 9.35352C23.688 11.4089 25.838 16.2296 31.956 16.8" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
<a href="https://www.instagram.com/haircreationsbygaia/">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 24C5 15.044 5 10.564 7.782 7.782C10.564 5 15.042 5 24 5C32.956 5 37.436 5 40.218 7.782C43 10.564 43 15.042 43 24C43 32.956 43 37.436 40.218 40.218C37.436 43 32.958 43 24 43C15.044 43 10.564 43 7.782 40.218C5 37.436 5 32.958 5 24Z" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.016 13H34.996M33 24C33 26.3869 32.0518 28.6761 30.364 30.364C28.6761 32.0518 26.3869 33 24 33C21.6131 33 19.3239 32.0518 17.636 30.364C15.9482 28.6761 15 26.3869 15 24C15 21.6131 15.9482 19.3239 17.636 17.636C19.3239 15.9482 21.6131 15 24 15C26.3869 15 28.6761 15.9482 30.364 17.636C32.0518 19.3239 33 21.6131 33 24Z" stroke="#FD6F2F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
</div>

<style>
div {
    display: flex;
    justify-items: space-between;
    gap: 15px;
    justify-content: center;
}
svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}
.green path{
stroke: var(--secondary);
}
svg:hover {
    transform: scale(1.05);
}
/**Ændrer størrelsen på icons på desktop */
@media (min-width: 800px) {
    div {
        gap: 35px;
    }
    svg {
    width: 2.5rem;
    height: 2.5rem;
}
}
</style>