---

---
<!--Katinka -->
<!--HUSK MOBILE FIRST! -->
<div>
<a href="">
<img src="/public/svg/orange_messenger.svg" alt="messenger">
</a>
<a href="https://www.tiktok.com/@gaiaemilie">
<img src="/public/svg/orange_tiktok.svg" alt="tiktok">
</a>
<a href="https://www.instagram.com/haircreationsbygaia/">
<img src="/public/svg/orange_insta.svg" alt="instagram">
</a>
</div>

<style>
div {
    display: flex;
    justify-items: space-between;
    gap: 15px;
    justify-content: center;
}
img {
    width: 1.5rem;
    height: 1.5rem;
}
/**Ændrer størrelsen på icons på desktop */
@media (min-width: 800px) {
    div {
        gap: 35px;
    }
    img {
    width: 2.5rem;
    height: 2.5rem;
}
}
</style>