<section class="container">
  <div class="gallery">
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="reel" src="./img/some1.png" alt="Billede 1" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede2" src="./img/some5.png" alt="Billede 2" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede2" src="./img/some2.png" alt="Billede 3" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede1" src="./img/some3.png" alt="Billede 4" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede1" src="./img/some4.png" alt="Billede 5" />
    </a>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery {
    justify-items: center;
  }

  .gallery img {
    border: 2px solid var(--secondary);
    transition: transform 0.3s ease;
    margin-top: 2em;
  }

  .gallery img:hover {
    transform: scale(1.1);
  }

  /*Styling desktop */
  @media (min-width: 800px) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      justify-items: center;
      align-items: center;
      margin: 0 auto;
      max-width: 100%;
    }

    .reel {
      grid-row: 1 / span 2;
    }

    .billede1 {
      display: grid;
      grid-row: 3;
      grid-column: 2;
    }

    .billede2 {
      grid-row: 3;
      grid-column: 2;
    }
  }
</style>
