<section class="container1">
  <div class="gallerysome">
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede1" src="./img/some1.webp" alt="Billede 1" />
    </a>

    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede2" src="./img/some13.webp" alt="Billede 2" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede3" src="./img/some12.webp" alt="Billede 3" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede4" src="./img/some14.webp" alt="Billede 4" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede5" src="./img/some15.webp" alt="Billede 5" />
    </a>
  </div>
</section>

<style>
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: contents;
  }

  .gallerysome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .gallerysome img {
    width: 250px;
    height: auto;
    border: 2px solid var(--secondary);
    border-radius: 1em;
    transition: transform 0.3s ease;
  }

  .gallerysome {
    margin: 0 auto;
    max-width: 100%;
  }

  /* Styling til desktop */
  @media (min-width: 800px) {
    .billede2,
    .billede3,
    .billede4,
    .billede5 img {
      width: 87%;
      height: 87%;
      border: 2px solid var(--secondary);
      transition: transform 0.3s ease;
    }

    .billede1 img {
      width: 200%;
      height: auto;
      border: 2px solid var(--secondary);
      border-radius: 1em;
    }

    .gallerysome img:hover,
    .gallerysome video:hover {
      transform: scale(1.1); /* Zoom-effekt ved hover */
    }
    .gallerysome {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      max-width: 800px;
    }

    .gallerysome:first-child img {
      height: 100%;
      transition: transform 0.3s ease;
    }

    .billede1 {
      grid-column: 1;
      grid-row: span 2;
      display: block;
    }

    .billede2 {
      grid-column: 2;
      grid-row: 1;
    }

    .billede3 {
      grid-column: 2;
      grid-row: 2;
    }

    .billede4 {
      grid-column: 3;
      grid-row: 1;
    }

    .billede5 {
      grid-column: 3;
      grid-row: 2;
    }
  }
</style>
