<section class="container1">
  <div class="gallerysome">
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <video class="reel" src="./img/blonding.MOV" autoplay muted loop></video>
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede1" src="./img/some5.png" alt="Billede 2" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede2" src="./img/some2.png" alt="Billede 3" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede3" src="./img/some3.png" alt="Billede 4" />
    </a>
    <a href="https://www.instagram.com/haircreationsbygaia/" target="_blank">
      <img class="billede4" src="./img/some4.png" alt="Billede 5" />
    </a>
  </div>
</section>

<style>
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallerysome img,
  .gallerysome video {
    margin-bottom: 1em;
    width: 100%; /* Tilpas billeder og video til rammen */
    height: auto;
    border: 2px solid var(--secondary);
    transition: transform 0.3s ease;
    border-radius: 1em;
  }

  .gallerysome {
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
  }

  /* Styling til desktop */
  @media (min-width: 800px) {
    .gallerysome {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      height: auto;
      gap: 1rem;
      width: 100%;
      justify-items: center;
      align-items: center;
      margin: 0 auto;
      max-width: 100%;
    }

    .gallery img:hover,
    .gallery video:hover {
      transform: scale(1.1); /* Zoom-effekt ved hover */
    }
    .gallerysome {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      max-width: 800px;
      margin: auto;
    }

    .reel {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .billede1,
    .billede2,
    .billede3,
    .billede4 {
      width: 100%;
      height: auto;
      border: 1px solid #ccc;
    }

    .billede1 {
      grid-column: 2;
      grid-row: 1;
    }

    .billede2 {
      grid-column: 2;
      grid-row: 2;
    }

    .billede3 {
      grid-column: 3;
      grid-row: 1;
    }

    .billede4 {
      grid-column: 3;
      grid-row: 2;
    }
  }
</style>
