---
//@ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
//const { product } = Astro.props;

export async function getStaticPaths() {
  const products = await fetch(
    "https://eiritvqzdghcofdqqljs.supabase.co/rest/v1/products",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcml0dnF6ZGdoY29mZHFxbGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNTEwMTgsImV4cCI6MjA0ODcyNzAxOH0.YUeY669t8fomqyHGhIGwyU-PBt5SvU9tv3CCcmlHUJQ",
      },
    }
  ).then((res) => res.json());

  // Log produkter for at kontrollere strukturen
  console.log("Fetched products:", products);

  return products.map((product) => ({
    params: { product: product.slug }, // [product]=product.slug
    props: { myData: product }, // send al data med som props
  }));
}

const { myData } = Astro.props;
console.log(myData); // product.name, product.image osv.
---

<!-- Matilde -->
<MainLayout>
  <main>
    <div class="product_container">
      <div>
        <img src={"/img/products/" + myData.img} alt="Produkt billede" />
      </div>
      <div>
        <h1>{myData.product_name}</h1>
        <div class="product_info">
          <p>Information om produktet</p>
          <p>{myData.info}</p>
        </div>
        <p>Pris: {myData.price}kr</p>
        <p>Kan købes i salonen</p>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  img {
    width: 100%;
  }

  @media (min-width: 800px) {
    .product_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
