---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Card_product from "../../components/Card_product.astro";

const products = await fetch(
  "https://eiritvqzdghcofdqqljs.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcml0dnF6ZGdoY29mZHFxbGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNTEwMTgsImV4cCI6MjA0ODcyNzAxOH0.YUeY669t8fomqyHGhIGwyU-PBt5SvU9tv3CCcmlHUJQ",
    },
  }
).then((res) => res.json());
---

<!-- Matilde -->
<MainLayout>
  <main>
    <h1>PRODUKTER</h1>
    <p></p>
    <Button class="button_green" buttontext="Alle" />
    <Button class="button_green" buttontext="Shampoo" />
    <Button class="button_green" buttontext="Conditioner" />
    <Button class="button_green" buttontext="Styling & Varmebeskyttelse" />
    <div>
      {
        products.map((product) => {
          return <Card_product product={product} />;
        })
      }
    </div>
  </main>
</MainLayout>

<style>
  @media (min-width: 800px) {
    div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
