---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Card_product from "../../components/Card_product.astro";

const products = await fetch(
  "https://eiritvqzdghcofdqqljs.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcml0dnF6ZGdoY29mZHFxbGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNTEwMTgsImV4cCI6MjA0ODcyNzAxOH0.YUeY669t8fomqyHGhIGwyU-PBt5SvU9tv3CCcmlHUJQ",
    },
  }
).then((res) => res.json());
---

<!-- Matilde -->
<MainLayout>
  <main>
    <h1>PRODUKTER</h1>
    <p>
      Jeg tilbyder et udvalg af Angel hårplejeprodukter i min salon. Mærket er
      kendt for sin høje kvalitet, skånsomhed og bæredygtige fokus på naturlige
      ingredienser og genanvendelig emballage. Her kan du finde en oversigt over
      produkterne, som du kan købe direkte i salonen. Kom forbi og få rådgivning
      om, hvilke produkter der passer bedst til dit hår.
    </p>
    <div class="button_container">
      <Button class="button_green" buttontext="Alle" filter="Alle" />
      <Button class="button_green" buttontext="Shampoo" filter="Shampoo" />
      <Button
        class="button_green"
        buttontext="Conditioner"
        filter="Conditioner"
      />
      <Button
        class="button_green"
        buttontext="Styling & Varmebeskyttelse"
        filter="Styling"
      />
    </div>
    <div class="card_container">
      {
        products.map((product) => {
          return <Card_product product={product} />;
        })
      }
    </div>
  </main>
</MainLayout>

<style>
  @font-face {
    font-family: "georama_regular";
    src:
      url("/fonts/georama_regular/georama-regular-webfont.woff2")
        format("woff2"),
      url("/fonts/georama_regular/georama-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "georama_regular_italic";
    src:
      url("/fonts/georama_regular_italic/georama-italic-webfont.woff2")
        format("woff2"),
      url("/fonts/georama_regular_italic/georama-italic-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neuton_regular";
    src:
      url("/fonts/neuton/neuton-regular-webfont.woff2") format("woff2"),
      url("/fonts/neuton/neuton-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  main {
    margin: 0 auto;
    max-width: 1200px;
  }

  h1 {
    padding: 5rem;
  }

  p {
    margin: auto;
    padding: 0 2rem 4rem;
  }

  .button_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .hide {
    display: none;
  }

  .card_container {
    padding-bottom: 3rem;
  }

  @media (max-width: 799px) {
    .card_container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  @media (min-width: 800px) {
    div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
<script>
  //vælg alle cards
  const kort = document.querySelectorAll(".card");

  //vælg alle filterknapper
  const knapper = document.querySelectorAll("button");
  //sæt click eventlistener på alle knapper som kalder filtrer-funktionen
  knapper.forEach((knap) => knap.addEventListener("click", filtrer));

  function filtrer() {
    // Find den nuværende aktive knap, hvis der er en
    const aktivKnap = document.querySelector(".active");
    if (aktivKnap) {
      aktivKnap.classList.remove("active");
    }

    // Marker den knap, der blev klikket på, som aktiv
    this.classList.add("active");

    // Loop igennem alle cards og sammenlign data-attributter
    kort.forEach((elm) => {
      if (
        // @ts-ignore
        elm.dataset.filter == this.dataset.filter ||
        this.dataset.filter == "Alle"
      ) {
        elm.classList.remove("hide");
      } else {
        elm.classList.add("hide");
      }
    });
  }
</script>
