---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Card_product from "../../components/Card_product.astro";

const products = await fetch(
  "https://eiritvqzdghcofdqqljs.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcml0dnF6ZGdoY29mZHFxbGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNTEwMTgsImV4cCI6MjA0ODcyNzAxOH0.YUeY669t8fomqyHGhIGwyU-PBt5SvU9tv3CCcmlHUJQ",
    },
  }
).then((res) => res.json());
---

<!-- Matilde -->
<MainLayout>
  <main>
    <ul>
      {
        products.map((product) => {
          return <Card_product product={product} />;
        })
      }
    </ul>
  </main>
</MainLayout>
